body{
    background-image: url(../img/abstract-g4bad748b3_1920.png);
}
.navegador img{
    border: 5px solid #007bff;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    height: 200px;
    width: 200px;
    margin-top: 20px;
    margin-bottom: 30px;
    
}
.navegador h3{
    display: block;
    display: flex;
    justify-content: center;
}
h3 a{
    text-decoration: none; /*con esto me volvi locooooo!!!!!*/
    font-size: 30px;
    color: #007bff;
}

.btn {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex; /* Muestra los botones en línea */
    justify-content: center; /* Centra los botones horizontalmente */
  }
  
  .btn li {
    margin: 5px; /* Espacio entre los botones */
  }
  
  .btn a {
    display: block;
    padding: 10px 20px; /* Tamaño del botón (ajustable según tus preferencias) */
    text-align: center;
    text-decoration: none;
    background-color: #007bff; /* Color de fondo del botón */
    color: #fff; /* Color del texto del botón */
    border-radius: 5px; /* Borde redondeado del botón */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
  }
  
  .btn a:hover {
    background-color: #0b3b6f; /* Color de fondo del botón al pasar el mouse */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
.btn2{
    list-style: none;
    /*padding: 0;
    margin: 0;*/
    display: contents; /* Muestra los botones en línea */
    justify-content: center; /* Centra los botones horizontalmente */
}
.btn2 li{
    margin: 10px;
    margin-left: 30%;
    margin-right: 30%;
}
.btn2 a{
    display: block;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    background-color: #007bff; /* Color de fondo del botón */
    border-radius: 5px; /* Borde redondeado del botón */
    color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Aquí definimos la sombra */
    
}
.btn2 a:hover {
    background-color: #afceef; /* Color de fondo del botón al pasar el mouse */
    border: 2px solid darkblue;
    color: darkblue;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.parrafoloco p{
    margin-left: 30%;
    margin-right: 30%;
}
.pieloco a {
    text-decoration: none;
}